@use "../../Sytles/general.scss" as main;

.card {
  //background-color: main.$light_color;
  //border-radius: 8px;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  transition: transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &:hover &-img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  &-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px main.$dark_color solid;
  }
  &-body {
    padding: 15px;
  }
  &-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  &-description {
    color: #555;
    font-size: 1em;
  }
}
