@use "../../Sytles/general.scss" as main;

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

.card {
  //background-color: main.$light_color;
  //border-radius: 8px;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  transition: transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &:hover &-img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  &-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px main.$dark_color solid;
  }
  &-body {
    padding: 15px;
  }
  &-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  &-description {
    color: #555;
    font-size: 1em;
  }
}

@media (min-width: 2000px) {
  .card {
    width: 500px;
    &-img {
      width: toRem(400);
      height: toRem(400);
    }
    &-title {
      font-size: toRem(32);
    }
  }
}

@media (min-width: 5000px) {
  .card {
    width: 500px;
    &-img {
      width: toRem(500);
      height: toRem(500);
    }
    &-title {
      font-size: toRem(48);
    }
  }
}
